body {
    background-color: rgb(37, 43, 43);
}

.main {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 2em 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links a {
    padding: 4px;
}

#main-logo {}

#main-logo>img {
    max-width: 40%;
}
