body {
    background-color: rgb(37, 43, 43);
}

.main {
    display: flex;
    flex-direction: column;
}

#main-logo {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

#main-logo>img {
    max-width: 80%;
}

#intro-img {
    padding: 2rem;
}