html {
    background-color: rgb(37, 43, 43);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.main {
    display: flex;
    flex-direction: column;
}

#main-logo {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

#main-logo>img {
    max-width: 80%;
}

#intro-img {
    padding: 2rem;
}